/* hero section */
section.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("../asset/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

section.hero header {
  display: flex;
  color: var(--white);
  padding: 40px 50px 50px;
  justify-content: space-between;
  align-items: center;
}

section.hero header .logo {
  font-size: 33.18px;
}

section.hero header a {
  color: var(--white);
  text-decoration: none;
}

section.hero header a.active {
  font-weight: 700;
}

section.hero header nav ul {
  list-style-type: none;
  display: flex;
}

section.hero header nav ul li {
  padding: 0px 20px 0px 20px;
}

section.hero header .country {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.hero .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  height: 60%;
  width: 100%;
}

section.hero .main-content .sub-container {
  max-width: 780px;
  padding: 0 25px;
}

section.hero .main-content .sub-container h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

section.hero .main-content .sub-container p {
  font-size: 16px;
  margin-bottom: 50px;
}

section.hero .main-content .sub-container .search form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  padding: 8px 10px 8px 20px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

section.hero .main-content .sub-container .search form img.location {
  padding-right: 10px;
}

section.hero .main-content .sub-container .search input {
  border: none;
  border-left: 1px solid var(--Secondary);
  outline: none;
  padding: 12px 8px;
}

section.hero .main-content .sub-container .search input::placeholder {
  color: var(--TitleColor);
  font-size: 16px;
  line-height: 28.8px;
}

section.hero .main-content .sub-container .search input:nth-child(2) {
  border-left: 0;
}

section.hero .main-content .sub-container .search input:nth-child(3) {
  width: 70%;
}

section.hero .main-content .sub-container button.find-trip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
  width: 30%;
  color: var(--white);
  font-size: 16px;
  line-height: 28.8px;
  cursor: pointer;
  width: 100%;
}

section.hero .main-content .sub-container button.find-trip img {
  width: 24px;
  height: 24px;
}

section.hero header #check {

  display: none;
}

section.hero header .checkbtn {

  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none;
}

/* about-us section */
section.about-us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 50px;
  gap: 30px;
  width: 100%;
}

section.about-us .section-1,
section.about-us .section-2 {
  flex-basis: 50%;
}

section.about-us img {
  width: 100%;
}

section.about-us .section-2 h5 {
  color: var(--Secondary);
  font-size: 16px;
  margin-bottom: 20px;
}

section.about-us .section-2 h2 {
  color: var(--TitleColor);
  font-size: 27px;
  margin-bottom: 25px;
}

section.about-us .section-2 p {
  color: var(--TitleColor);
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 28px;
}

section.about-us .section-2 .counters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

section.about-us .section-2 .counters .counter-unit {
  flex-basis: 50%;
}

section.about-us .section-2 .counters h2,
section.about-us .section-2 .counters p {
  margin: 0;
}

section.about-us .section-2 .counters h2 {
  color: var(--Secondary);
  font-size: 27px;
}

section.about-us .section-2 .counters p {
  margin-bottom: 30px;
}

/* destination section */
section.destination .header,
section.testimonials .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.destination .header h4,
section.testimonials .header h4 {
  color: var(--Secondary);
  font-weight: 700;
  font-size: 16px;
}

section.destination .header h3,
section.testimonials .header h3 {
  color: var(--TitleColor);
  font-size: 27.65px;
}

section.destination .discoveries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  row-gap: 30px;
  column-gap: 20px;
  flex-wrap: wrap;
}

section.destination .discoveries .discovery {
  flex: 1;
  background: var(--white);
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  flex-basis: 30%;
}

section.destination .discoveries .discovery > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

section.destination .discoveries .discovery > h4 {
  color: var(--TitleColor);
  font-weight: 700;
  font-size: 19px;
  line-height: 24.56px;
  margin-bottom: 15px;
}

section.destination .discoveries .discovery .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

section.destination .discoveries .discovery .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

section.destination .discoveries .discovery .size {
  color: var(--Secondary);
  font-size: 16px;
  font-weight: 700;
}

/* testimonials section */
section.testimonials {
  padding: 50px;
}

section.testimonials .quotes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  width: 100%;
  padding-top: 30px;
}

section.testimonials .quotes .quote {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  width: 100%;
  padding: 10px;
}

section.testimonials .quotes .quote.active {
  background-color: var(--primary);
}

section.testimonials .quotes .quote .header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

section.testimonials .quotes .quote .header h4 {
  font-weight: 700;
  font-size: 24px;
  color: var(--TitleColor);
  line-height: 27px;
}

section.testimonials .quotes .quote .content p {
  font-size: 16px;
  color: var(--TitleColor);
  line-height: 28px;
}

section.testimonials .quotes .quote.active h4,
section.testimonials .quotes .quote.active p {
  color: var(--white);
}

/* media query for laptop screens */
@media screen and (max-width: 992px) {

  section.hero header {

    padding: 20px;
  }

  section.hero header nav ul li {
    padding: 0px 10px 0px 10px;
  }
  section.about-us {
    flex-direction: column;
  }
  section.destination .discoveries .discovery {
    flex-basis: 40%;
  }
  section.testimonials .quotes .quote {
    flex-basis: 50%;
  }
}

/* media query for tablet screens */
@media screen and (max-width: 768px) {
  
  section.hero nav {
    display: none;
  }

section.hero header .country {
  display: none;
}
section.hero header .checkbtn {
  display: block;
  color: white;
}

section.hero .main-content .sub-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 32px;
}

section.hero .main-content .sub-container p {
  margin-bottom: 30px;

}

section.hero .main-content .sub-container .search input:nth-child(4) {
  display: none;
}
}

/* media query for mobile screens */
@media screen and (max-width: 575px) {

  section.hero header {

    padding: 20px;
  }
  /* about-us media query section */
  section.about-us {
    padding: 50px 20px;
    gap: 30px;
  }
  section.about-us .section-2 h5 {
    margin-bottom: 10px;
  }
  section.about-us .section-2 h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  section.about-us .section-2 p {
    font-size: 14px;
    line-height: 24px;
  }

  section.about-us .section-2 .counters .counter-unit {
    flex-basis: 100%;
  }

  /* destination media query section */
  section.destination .discoveries {
    padding: 50px 20px;
  }

  section.destination .discoveries .discovery {
    flex-basis: 100%;
  }

  section.destination .discoveries .discovery > img {
    margin-bottom: 0px !important;
  }

  section.destination .discoveries .discovery > h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  section.destination .discoveries .discovery .size {
    font-size: 14px;
  }

  /* testimonials media query section */
  section.testimonials {
    padding: 50px 20px;
  }

  section.testimonials .quotes .quote {
    flex-basis: 100%;
  }

  section.testimonials .quotes .quote .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  /* destination media query section */
  section.destination .header h3,
  section.testimonials .header h3 {
    font-size: 20px;
  }

  section.testimonials .quotes .quote .header h4 {
    font-weight: 700;
    font-size: 20px;
    color: var(--TitleColor);
    line-height: 27px;
  }

  section.testimonials .quotes .quote .content p {
    line-height: 26px;
  }

  section.hero .main-content .sub-container {
    padding-top: 80px;
    padding: 80px 15px 0px;
  }

  section.hero .main-content .sub-container h1 {
    font-size: 32px;
    margin-bottom: 15px;
    line-height: 36px;
    font-weight: 700;
  }

  section.hero .main-content .sub-container p {
    margin-bottom: 30px;

  }
  section.hero .main-content .sub-container .search input:nth-child(3), section.hero .main-content .sub-container .search input:nth-child(4) {
    display: none;
  }

  section.hero .main-content .sub-container button.find-trip {
    padding: 5px;
    font-size: 14px;
  }

  section.hero .main-content .sub-container button.find-trip img {
  width: 14px;
  height: 14px;
}

section.hero .main-content .sub-container .search form {
  padding: 8px 10px;
}

section.hero .main-content .sub-container .search form img.location {
  padding-right: 7px;
}
section.hero .main-content .sub-container .search input:nth-child(2) {
  width: 80%;
}
}
