@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #43b97f;
  --TitleColor: #3d3e48;
  --TextColor: #a8a7ab;
  --Secondary: #295943;
  --white: #fff;
}

header.other-pages {
  display: flex;
  color: var(--TitleColor);
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
}

header.other-pages .logo {
  font-size: 33.18px;
  color: var(--Secondary);
}

header.other-pages a {
  color: var(--TitleColor);
  text-decoration: none;
}

header.other-pages a.active {
  font-weight: 700;
  color: var(--primary);
}

header.other-pages nav ul {
  list-style-type: none;
  display: flex;
}

header.other-pages nav ul li {
  padding: 0px 20px 0px 20px;
}

header.other-pages .country {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.hero-pages {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--white);
  padding-left: 50px;
  padding-bottom: 30px;
}

@media screen and (max-width: 575px) {
  section.hero-pages {
    height: 50%;
    min-height: 12rem;
    width: 100%;
    padding: 0 0 20px 20px;
  }
}

footer {
  background-color: var(--Secondary);
  padding: 50px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer .container .container-item {
  flex-basis: 25%;
}

footer .container .container-item.details {
  flex-basis: 35%;
  padding-right: 30px;
}

footer .container .container-item h2 {
  font-size: 33.18px;
  font-weight: 400;
  line-height: 39.82px;
  margin-bottom: 12px;
}

footer .container .container-item h3 {
  margin-bottom: 20px;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .container .contact h4 {
  margin-bottom: 15px;
  font-weight: 400;
}

footer .sub-container h4 {
  margin-bottom: 20px;
}

footer .sub-container .socials ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}

@media screen and (max-width: 991px) {
  footer,
  .container {
    flex-wrap: wrap;
  }

  footer .container .container-item,
  footer .container .container-item.details {
    flex-basis: 44%;
  }

  header.other-pages {
    padding: 15px 30px;
  }

  header.other-pages nav ul li {
    padding: 0px 10px;
  }

  header.other-pages .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  footer .container .container-item.details {
    padding-right: 0px;
  }

  header.other-pages {
    padding: 15px 20px;
  }

  header.other-pages .logo {
    font-size: 20px;
  }

  header.other-pages nav ul {
    display: none;
  }
}

@media screen and (max-width: 583px) {
  footer {
    padding: 50px 20px;
  }

  footer .container {
    flex-direction: column;
  }

  footer .container .container-item {
    margin-bottom: 20px;
  }

  footer .container .container-item.details {
    padding-right: 0px;
  }

  footer .container .container-item h2 {
    font-size: 33.18px;
    font-weight: 400;
    line-height: 39.82px;
    margin-bottom: 12px;
  }

  footer .container .contact h4 {
    margin-bottom: 10px;
  }

  footer ul li {
    gap: 10px;
  }
}
