section.hero-pages {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../asset/about-bg.png);
}

section.why-us,
section.our-team,
section.services,
section.about-us {
  padding: 50px;
}

section.why-us .header,
section.our-team .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  text-align: center;
}

section.our-team .header {
  align-items: flex-start;
}

section.why-us .header h4,
section.our-team .header h4 {
  color: var(--TitleColor);
  font-weight: 700;
  font-size: 27.65px;
}

section.why-us .header h3,
section.our-team .header h3 {
  color: var(--TitleColor);
  font-size: 16px;
  font-weight: 400;
}

section.why-us .container,
section.our-team .container,
section.services .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

section.why-us .container .item {
  flex-basis: 32.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section.why-us .container .item img {
  object-fit: cover;
  margin-bottom: 10px;
  width: 112px;
  height: 128px;
  height: auto;
}

section.why-us .container .item h4 {
  font-size: 19.2px;
  font-weight: 400;
  line-height: 24.56px;
  margin-bottom: 5px;
}
section.why-us .container .item span {
  font-size: 16px;
  line-height: 30.8px;
  color: var(--TitleColor);
}

section.about-us {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.about-us .part-1 {
  flex-basis: 75%;
}
section.about-us .part-2 {
  flex-basis: 25%;
}

section.about-us .part-2 img {
  object-fit: cover;
  width: 100%;
}

section.about-us .part-1 h3 {
  font-size: 27.65px;
  font-weight: 700;
  line-height: 33.18px;
  color: var(--TitleColor);
  margin-bottom: 20px;
}

section.about-us .part-1 p {
  font-size: 16px;
  line-height: 28.8px;
  color: var(--TitleColor);
}

section.our-team {
  padding-bottom: 100px;
}

section.our-team .container .team img {
  margin-bottom: 5px;
  width: 100%;
}
section.our-team .container .team h3 {
  font-weight: 400;
  font-size: 19px;
  line-height: 34.56px;
  color: var(--TitleColor);
}

section.our-team .container .team {
  flex-basis: 18%;
}

section.our-team .container .team h4 {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  color: var(--TitleColor);
}

section.services {
  padding-bottom: 100px;
}

section.services .container .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 23%;
}

section.services .container .service span {
  font-size: 19.2px;
  color: var(--TextColor);
  line-height: 34.56px;
}

@media screen and (min-width: 992px) {
  section.why-us .container {
    gap: 0px;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
  }
}

/* media query for tablet screens */
@media screen and (max-width: 992px) {

  section.why-us .container {
    justify-content: center;
    row-gap: 30px;
  }
  
  section.why-us .container .item {
    flex-basis: 48%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

  section.about-us .part-1 h3 {
    text-align: center;
  }
  
  section.our-team .header {
    align-items: center;
  }

  section.our-team .container .team {
    flex-basis: 30%;
  }

  section.our-team .container {
    justify-content: center;
  }

  section.services .container .service {
    flex-basis: 45%;
  }
}

/* media query for mobile screens */
@media screen and (max-width: 575px) {
  section.why-us,
  section.our-team,
  section.services,
  section.about-us {
    padding: 50px 20px;
  }

  section.why-us .container {
    gap: 40px;
  }

  section.why-us .container .item {
    flex-basis: 100%;
  }

  section.why-us .container .item:not(:last-child) {
    margin-bottom: 0px;
  }

  section.why-us .container .item img {
    width: 30%;
  }
  section.why-us .container .item span {
    line-height: 22.8px;
    text-align: center;
  }

  section.about-us {
    flex-direction: column;
  }

  section.about-us .part-1 {
    flex-basis: 100%;
  }
  section.about-us .part-2 {
    flex-basis: 100%;
  }

  section.about-us .part-1 h3 {
    font-size: 22px;
    text-align: center;
  }

  section.about-us .part-1 p {
    font-size: 16px;
    line-height: 24.8px;
    text-align: center;
  }
  
  section.our-team .header {
    align-items: center;
  }

  section.why-us .header h4,
  section.our-team .header h4 {
    font-size: 22px;
  }

  section.why-us .header h3,
  section.our-team .header h3 {
    font-size: 16px;
    text-align: center;
  }

  section.our-team .header p {
    text-align: center;
  }

section.our-team .container .team {
  flex-basis: 100%;
}
section.services .container .service {
  flex-basis: 100%;
}
section.our-team .container .team h3 {
  line-height: 30.56px;
}

section.our-team .container .team h4 {
  line-height: 24.8px;
}
}
